@model IEXTrading.Models.ViewModel.CompaniesStatistics
@{
    ViewData["Title"] = "Financials";
}

<h2>Quaterly Financial Data</h2>

<form asp-controller="Home" asp-action="Financials" method="get">
    <select name="symbol">
        @foreach (var company in Model.Companies)
        {
            <option value=@company.symbol selected>@company.companyName</option>
        }
    </select>
    <input type="submit" value="Get Data" />
</form>

@if (Model.symbol != null)
{
    <p> Financials </p>
    <table class="table">
        <thead>
            <tr>
                <th> reportDate </th>
                <th> grossProfit </th>
                <th> costOfRevenue </th>
                <th> operatingIncome </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.financials.financials)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.reportDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.grossProfit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.costOfRevenue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.operatingIncome)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
